@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Campus Nexus Web with OAuth 2.0</h2>
    <p class="lead">This sample ASP.NET web application demostrates how to call Campus Nexus Web Api using OAuth 2.0 bearer token.</p>
    <p><a href="Home/Api" class="btn btn-primary btn-lg">Try now &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            As a first step to run this application personalize settings in web.config to match your enviorment. Following are the four keys you will need to 
            update under appSettings section:
            <ul>
                <li>IdentityProviderTokenEndpointUri</li>
                <li>ClientName</li>
                <li>ClientSecret</li>
                <li>ClientScope</li>
            </ul>
          Check out the blog entry below to get step by step direction on what is needed.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>OAuth 2.0</h2>
        <p>OAuth 2.0 is the industry-standard protocol for authorization. OAuth 2.0 focuses on client developer simplicity while providing specific authorization flows for web applications, desktop applications, mobile phones, and living room devices.</p>
        <p><a class="btn btn-default" href="https://oauth.net/2/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>