@{
    ViewBag.Title = "Access remote API";
}

<div style="margin: 20px 0;">
    <form style="width:100%; max-width: 640px;">

        <strong>Describe your API request below:</strong><br/>
        <br />
        <div class="form-group">

            <select id="Action" class="form-control" >
                <option value="get">GET</option>
                <option value="post">POST</option>
            </select>
        </div>
        <div class="form-group">
            URL:
            <input id="Uri" type="url" 
                   class="form-control" 
                   value="http://localhost/Cmc.Nexus.Web/ds/campusnexus/AddressTypes?$top=10&$filter=IsActive eq true"
                    />
        </div>
        
        <button id="btnSubmit" type="button" class="btn btn-primary">Submit</button>

</form>
</div>

<div style="font-family: Courier" id="Results">
</div>

<br/>
<br />

<script>
    $(function() {
        $("#btnSubmit").click(function () {
            $("#Results").html("Please wait ...");
            var request = {
                action: $("#Action").val(),
                uri: $("#Uri").val()
            };
            $.ajax({
                type: "POST",
                url: "/api/Default",
                data: request,
                success: function (response) {
                    var html = "";
                    html += "<strong>Status code: </strong>";
                    html += response.StatusCode;
                    if (response.StatusCode === "OK") {                        
                        html += "<br /><br />";
                        html += "<strong>Result: </strong>";
                        html += "<pre>"+response.Data+"</pre>";
                    } 
                    $("#Results").html(html);
                }
            });
        });
    });
</script>
